
  .topbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid gray;
    padding-top:2em;
    padding-left:2em;
    justify-content: space-between;


    .option-container {
        display: flex;
        flex-direction: row;
        width: 15%;
        justify-content: space-evenly;
        font-size: 1.25em;
        

    }

    .sign-out-button {
      &:hover {
        cursor: pointer;
      }
    }

  }