.shop-item-container {
    padding: 0;
    height: 30em;
    flex-direction: column;
    margin-bottom: 2em;


    .item-image-row{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        height: 100%;
        width: 100%;
        column-gap: 1em;
        


        

    }
}
