.register-container {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;

    .register-title {
        margin-bottom: 1em;
    }

    .register-subtitle {
        margin-bottom: 1em;
    }

    .register-form-container {
        display: flex;
        flex-direction: column;
        row-gap: 1.25em;
    }

    .register-button-container {
        width: 30%;
    }
}